@import 'reset';

$primary_color: #EEE;
$secondary_color: #222;
$base_font_size: 19;
$base_line_height: 24;
$primary_typeface: Helvetica, Arial, Trebuchet, sans-serif;
$secondary_typeface: Georgia, "Times New Roman", Times, Roman, serif;

@function -toEm($target,$context:$base_font_size) {
  @return ($target / $context) * 1em;
}

@function -toPct($target,$context) {
  @return ($target / $context) * 100%;
}


html {
  font-size: -toEm($base_font_size,16);
  line-height: -toEm($base_line_height);
  font-family: $primary_typeface;
  color: $primary_color;
  background-color: $secondary_color;
}
/* Modular Scale: http://www.modularscale.com/?19&px&1.25 */
h1,h2,h3,h4,h5,h6 {
  font-family: $secondary_typeface;
}
h1 {
  font-size: -toEm($base_font_size*1.25*1.25*1.25);
  line-height: -toEm((1.5*$base_line_height), 27)
}

@media screen and (min-width: -toEm(750,16)) {
  /* 750 styles */
  #content {
    width: -toPct(400,750);
    float: left;
    .flexbox & {
      float: none;
      display: flex;
      & aside {
        flex-basis: 20%;
      }
    }
  }
}

.callout {
  color: $primary_color;
  background: lighten($secondary_color, 20%);
}

nav {
  border: 1px solid red;
  ul {
    background-color: orange;
    li {
      display: inline-block;
    }
  }
}
